html, body, section {
    height: 100vh;
  }

.container {
    display: flex;
    background-color: rgb(255, 255, 255);
  }

.registration{
  margin: 1cm;
  padding-left: 1cm;
  padding-right: 1cm;
  background-color: rgb(233, 201, 243);
  height: 50%;
  display: flex;
  flex-direction: column;
  border-radius: 10%;
}
.login{
  margin: 1cm;
  padding-left: 2cm;
  padding-right: 2.5cm;
  background-color: rgb(233, 201, 243);
  height: 50%;
  display: flex;
  flex-direction: column;
  border-radius: 10%;
}
.left-half {
  
    background-color: #f0e6ef;
    flex: 1;
    padding: 1rem;
    margin: 1%;
  }
  
  .right-half {
    align-items: center;
    background-color: #f0e6ef;
    display: flex;    
    flex-direction: column;    
    flex: 1;
    margin: 1em;
    padding: 1rem;
  }
  label
  {
      padding: 10px 0px;
  }
  input
  {
    margin: .1em;
    background-color: #f0e6ef;
    border: .3em;
    border-radius: .5em;
    padding: 5px 10px;
  }

  button{
    align-self: center;
    width: 150px;
    height: 40px;
    margin: 20px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background-color: #6699ff;
    border: 1px solid #6699ff;
  }

  .username
  {
    display: flex;
  }
  
  .password
  {
    display: flex;
  }
  .head
  {    
    margin: 10%;
    margin-top: 2cm;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .images
  {
    margin-top: 5cm;
  }